{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<!-- Tableau des tâches -->
<div class="mt-4">

  <h6>Liste Users</h6>
  
  
  {% for item in users %}
	{{ item.nom }} - {{ item.prenom }} <br>
  {% endfor %}
  
  
  </div>

{% endblock %}